
<div class="row justify-content-center">
    <div class="col">
      <div class="jumbotron" id="details">
        <h2><strong>{{product.product_name}}</strong> <label class="float-right"><i class="fas fa-thumbs-up"></i> {{likecount}}</label> </h2>
        <h4> {{product.product_detail}}</h4>
        <h3>Precio: Q {{product.price}}</h3>
        <label class="form-group"> <strong>Fecha de publicacion: </strong>{{product.publish_date  | date: 'yyyy-MM-dd HH:mm'}}</label>
        <p></p>
        <label class="form-group"> <strong>Categoria:</strong> {{product.category_name}}</label>
        <p></p>
        <button class="btn btn-success">Agregar al carrito  <i class="fas fa-shopping-cart"></i></button>
        <button class="btn btn-secundary float-right" id="like_button" (click)="likePublication()"><i class="fas fa-thumbs-up"></i></button> <p></p>
        <button class="btn btn-primary" data-toggle="modal" data-target="#denunciaModal">Reportar publicacion <i class="fas fa-exclamation-triangle"></i></button>
        <p></p>
      </div>
    </div>
    <div class="col">
      <div class="card border-0">
        <img [src]="product.image_path == '' ? 'http://localhost:8080/no_profile.png': product.image_path" width="150" height="200" 
        class="img-fluid" alt="">
      </div>
      <p></p>
      <label class="form-group"> <strong>Usuario que publico:</strong> {{product.names}} {{product.last_name}} </label>
          <button class="btn btn-success"> Contactar con vendedor <i class="fas fa-id-card-alt"></i></button>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="form-group" id="alert_complain"></div>
    </div>
  </div>
  <div class="container">
      <div class="row">
          <label for="">Agregar un comentario:  </label>
      </div>
      <div class="row">
        <textarea class="block" name="" id="" cols="30" rows="3"  [(ngModel)]="n_comment.comment_content" [ngModelOptions]="{standalone: true}" 
         placeholder="Escriba su comentario... " ></textarea>
      </div>
      <p></p>
      <div class="row">
          <button class="btn btn-success" (click)="publishComment()"> Publicar </button>
      </div>
      <p></p>
      <div class="form-group" id="alert_comment">
      </div>
      <p></p>
      <h2>Comentarios</h2>
      <div class="container" *ngFor="let comment of comments">
          <div class="card rounded">
                <h4 *ngIf="comments.length == 0"> <strong>Esta publicacion aun no tiene comentarios </strong></h4>
                <div class="card-header bg-dark text-white align-items-center">
                  <div class="card-title">
                    <h4><strong>Usuario:</strong> {{comment.NAMES}} {{comment.LAST_NAME}}</h4> 
                    <p class="float-right">Publicado {{comment.PUBLISH_DATE  | date: 'yyyy-MM-dd HH:mm'}}</p></div>
                </div>
                <div class="card-body">
                  <p>{{comment.COMMENT_CONTENT}}</p>
                </div>
          </div>
          <p></p>
      </div>
  </div>
  <div class="modal fade" id="denunciaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Denuncia</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="message-text" class="col-form-label" >Explique la razon de su denuncia:</label>
              <textarea class="form-control" id="message-text" [(ngModel)]="commentComplain" [ngModelOptions]="{standalone: true}"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="complaintM()">Enviar a revision</button>
        </div>
      </div>
    </div>
  </div>
  
  