<div class="col-md-12">
    <div class="row">
        <div class="col float-left">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" autofocus>
            <p></p>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Buscar </button>
        </div>
        <div class="col float-right">
            <select class="form-control form-control-sm" [(ngModel)]="categoryName" [ngModelOptions]="{standalone: true}" aria-placeholder="Categoria">
                <option *ngFor="let category of categories">{{category.CATEGORY_NAME}}</option>
            </select>
            <p></p>
            <button class="btn btn-outline-success my-2 my-sm-0" type="btn btn-primary" (click)="searchByCategory()"> Buscar </button>
        </div>
        <div class="col float-right">
          <select class="form-control form-control-sm" [(ngModel)]="filter" [ngModelOptions]="{standalone: true}">
            <option>Mayor precio a menor</option>
            <option>Menor precio a mayor</option>
        </select>
        <p></p>
        <button class="btn btn-outline-success my-2 my-sm-0" type="btn btn-primary" (click)= "order()"> Ordenar </button>
        </div>
    </div>
</div>
<div class="container"><p></p></div>
<h4 *ngIf="products.length == 0">No se han encontrado productos</h4>
<div class="col-md-4" *ngFor = "let product of products">
    <div class="modal fade" id="cantidadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar al carrito</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Cantidad:</label>
                <input type="number" name="cantidad" id="cantidad" [(ngModel)]="cantidad" [ngModelOptions]="{standalone: true}">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addToShopingCart()">Agregar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card text-center shadow p-3 mb-5 bg-white rounded" *ngIf="product.VISIBLE_PUBLICATION == 'Y'">
        <div class="card-header bg-dark text-white align-items-center">
            <h3 *ngIf="product.VISIBLE_PUBLICATION == 'N'">Producto no disponible</h3>
            <h4>{{product.PRODUCT_NAME}}  <button *ngIf= "user.idSystemUser == product.IDSYSTEMUSER" class="btn btn-danger" (click)="delete(product.IDPUBLICATION)">
                <i class="fas fa-trash-alt"></i></button>
                <button *ngIf= "user.idSystemUser != product.IDSYSTEMUSER" class="btn btn-danger" data-toggle="modal" data-target="#cantidadModal"
                (click)="newItem(product.IDPUBLICATION)">
                    <i class="fas fa-shopping-cart"></i></button>
            </h4>
        </div>
        <img src="{{product.IMAGE_PATH}}" class="card-img-top">
        <div class="card-body">
            <p>{{product.PRODUCT_DETAIL}}</p>
            <p class="font-weight-bold">Precio: Q {{product.PRICE}}</p>
            <p>Publicado: {{product.PUBLISH_DATE  | date: 'yyyy-MM-dd HH:mm'}}</p>
            <a *ngIf= "user.idSystemUser == product.IDSYSTEMUSER" class="btn btn-info btn-block" [routerLink]="['/myproducts/edit', product.IDPUBLICATION]">Edit info <i class="fas fa-edit"></i></a>
            <a class="btn btn-info btn-block" [routerLink]="['/details', product.IDPUBLICATION]">Detalles del producto <i class="fas fa-info-circle"></i></a>
            <div class="container" *ngFor = "let keyword of keywords">
                <div class="span">{{keyword.word}}</div>
            </div>
        </div>
    </div>
</div>

