<div class="col-md-4" *ngFor = "let product of products">
    <div class="card text-center">
        <div class="car-header bg-dark text-white align-items-center">
            <h4>{{product.PRODUCT_NAME}}  <button class="btn btn-danger" (click)="delete(product.IDPUBLICATION)"><i class="fas fa-trash-alt"></i></button></h4>
        </div>
        <img src="{{product.IMAGE_PATH}}" class="card-img-top">
        <div class="card-body">
            <p>{{product.PRODUCT_DETAIL}}</p>
            <p class="font-weight-bold">Precio: Q {{product.PRICE}}</p>
            <p>Publicado: {{product.PUBLISH_DATE  | date: 'yyyy-MM-dd HH:mm'}}</p>
            <a href="" class="btn btn-info btn-block">Edit info <i class="fas fa-edit"></i></a>
            <a href="" class="btn btn-info btn-block">Detalles del producto <i class="fas fa-info-circle"></i></a>
        </div>
    </div>
</div>